* {
  border: none;
  background: none;
  box-sizing: border-box;
  align-content: center;
  margin: 0 auto;
  padding: 0 auto;
}
button {
  cursor: pointer;
}
body {
  width: 1440px;
  margin: 0 auto;
}
header {
  padding-top: 45px;
}
.logo_button {
  color: #10b981;

  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  margin: 0;
  margin-left: 85px;
  padding: 0;
  text-decoration: none;
}
.logo_button {
  position: relative;

  height: 63px;
}
.logo_button_span {
  color: #000;
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px 85px 0 5px;
}
.header_content {
  display: flex;

  margin: 0 auto;
  align-items: center;
  /*  justify-content: space-between;*/
}

.search {
  position: relative;
  margin-right: 38px;
  margin-left: 239px;
}
.search::after {
  content: '';
  background-image: url('./svg/search.svg');
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-color: #10b981;
  position: absolute;
  right: 18px;
  top: 12px;
  border-radius: 5px;
  background-position: center;
}
.search_input {
  width: 322px;
  height: 63px;
  padding: 1px 60px 2px 32px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
  outline: none;
  border-radius: 10px;
  background: #fff;

  box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}
.search_input::placeholder {
  color: var(--Text-20, rgba(41, 41, 48, 0.2));
}

.button_add {
  width: 229px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #10b981;
  position: relative;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #2b2626;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 375% */
  margin-right: 23px;
}
.span_add {
  margin-left: 35px;
}
.span_add::before {
  content: '';
  background-image: url('./svg/Shopping-bag.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 17px;
  border-radius: 5px;
}

.button_login {
  width: 247px;
  height: 60px;
  border-radius: 30px;
  background: #10b981;
  position: relative;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
}

.nav_menu {
  background: #10b981;
  height: 81px;
}

.div_nav {
  margin-top: 65px;
  margin-left: 460px;
  display: flex;
  align-items: center;
  gap: 75px;
  height: 81px;
}

.nav_a {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  margin: 0;
}
.span_login::before {
  content: '';
  background-image: url('./svg/Profile\ 1.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 35px;
  top: 19px;
  border-radius: 5px;
}
.span_login {
  padding-left: 25px;
}
.top {
  display: flex;
}
.top_left_text {
  color: #2b2626;

  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 126px;
}
.top_left_text_bot {
  color: #2b2626;

  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  margin-top: 30px;
}
.button_buy_now {
  width: 263px;
  height: 70px;
  border-radius: 10px;
  background: #10b981;

  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  margin-top: 52px;
}
.span_buy_now {
  color: #fff;

  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.headphones_background {
  width: 272px;
  height: 477px;
  border-radius: 136px;
  background: #ecfef4;
  margin-top: 169px;
  position: relative;
}
.top_left {
  margin-left: 85px;
}
.top-right {
  margin-left: 254px;
}
.headphones_img {
  margin-top: 76px;
}
.star_icn1 {
  position: absolute;
  bottom: 516px;

  left: -38px;
}
.star_icn2 {
  position: absolute;
  top: 477px;
  left: 298px;
}
.play_video_icn {
  width: 69px;
  height: 69px;
  border-radius: 100px;
}
.play_video_button {
  position: absolute;
  right: 338px;
  top: 352px;
}
.play_video_button_text {
  position: relative;
  color: #2b2626;
  top: 15px;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
  white-space: nowrap;
}
.play_video_icn2 {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 20px;
  bottom: 34px;
}
.reviews {
  margin-top: 107px;
}
.span_div_reviews {
  padding-left: 186px;
}

.rew_icns {
  display: inline-block;
  position: relative;
}
.span_reviews {
  color: #2b2626;

  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 134.615% */
}

.rew_icn1 {
  position: absolute;
}
.rew_icn2 {
  position: absolute;
  left: 37px;
}
.rew_icn3 {
  position: absolute;
  left: 74px;
}
.rew_icn4 {
  position: absolute;
  left: 111px;
}
